{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Distance calculator
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Welcome to the distance calculator</h1>

      <p2 class="lead">This application finds the distance from the Moscow Ring Road to the specified address</p>

      {{ wtf.quick_form(form) }}

      <h4 class="pt-5"><strong>{{ message }}</strong></h4>

    </div>
  </div>
</div>

{% endblock %}